$main-color: #ef7b4f;
$success: rgb(23, 201, 100);
$danger: rgb(242, 19, 93);
$warning: rgb(255, 130, 0);
$dark: rgb(36, 33, 69);

* {
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

.auth {
	button {
		margin: 0 !important;
	}
}

.default {
	margin-left: calc(260px + 30px);
	margin-top: 25px;

	padding: 0 15px 15px 0;

	h1 {
		margin: 0 0 30px;
		display: block;
	}
}

.dashboard {
	.chart {
		align-self: baseline;
		svg {
			border-radius: 15px;
		}

		h2 {
			padding: 25px;
		}
	}

	.line {
		display: flex;
		justify-content: space-between;

		> * {
			width: calc(50% - 15px);
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    	border-radius: 15px;

			h2 {
				margin: 0 0 25px 0;
			}
		}

		.last_orders {
			padding: 25px;

			
		}
	}

	.stat {
		margin: 25px 0 40px 0;
	}
}

.orders {
	.filter {
		display: flex;
		align-items: center;
		margin-left: auto;

		a {
			text-decoration: none;
			margin-left: 10px;
			
		}
	}

	.cat {
		display: flex;
		align-items: center;
		margin-bottom: 10px;

		.status.open {
			padding: 5px 10px;
			line-height: 1;
			border-radius: 5px;
			background-color: rgba(242, 19, 19, 0.7);
			color:#fff;
		}

		.status.close {
			padding: 5px 10px;
			line-height: 1;
			border-radius: 5px;
			background-color: rgba(10, 143, 17, 0.7);
			color:#fff;
		}

		.phone a {
			text-decoration: none;
			font-family: 'Roboto', sans-serif;
			color: #000
		}

		svg {
			margin: 0 5px;
		}
	}

	.order_name {
		display: flex;
		align-items: center;

		h2 {
			margin: 0 !important;
		}

		.vs-tooltip-content {
			width: 40px;
			display: flex;
			align-items: center;
			justify-content: flex-start;

			svg {
				font-size: 22px;
			}
		}
	}

	.left {
		width: 80% !important;
	}
	.right {
		width: 20% !important;
	}
}

.orders.view {
	span.id {
		display: inline-block;
		margin-bottom: 10px;
	}
	.status_inf {
		margin-bottom: 60px;

		span {
			display: inline-block;
		}
	}
	.status.open {
			padding: 5px 10px;
			line-height: 1;
			border-radius: 5px;
			background-color: rgba(242, 19, 19, 0.7);
			color:#fff;
	}

	.status.close {
		padding: 5px 10px;
		line-height: 1;
		border-radius: 5px;
		background-color: rgba(10, 143, 17, 0.7);
		color:#fff;
	}

	h2 {
		margin:0 0 20px 0;
		padding-bottom: 20px;
		border-bottom: 1px solid #ddd;
		display: flex;
		justify-content: space-between;
	}

	.details {
		max-width: 70%;
		width: 100%;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;

		.overview {
			width: calc(70% - 30px);
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			border-radius: 15px;
			padding: 25px;

			.information {
				display: flex;
				justify-content: space-between;

				> * {
					width: calc(33% - 15px);
				}
			}

			.line {
				display: flex;
				flex-direction: column;
				position: relative;

				svg {
					position: absolute;
					left: 10px;
					font-size: 20px;
					top: 39px;
				}

				label {
					margin-bottom: 10px;
					font-weight: 500;
				}

				input {
					width: 100%;
					height: 40px;
					border-radius: 9px;
					border: 2px solid #ddd;
					padding: 0 15px 0 35px;
					font-size: 18px;

					&:focus {
						border-color: $main-color;
					}
				}
			}


		}
		.user {
			width: 30%;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			border-radius: 15px;
		}
	}

	.cart {
		margin: 30px 0 20px 0;
		padding: 0 0 10px 0;
		border-bottom: 1px solid #ddd;

		button {
			margin-left: auto;
		}
	}

	.cart ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 15px;

			.remove {
				svg {
					font-size: 20px;
					color: red;
				}
			}

			.wrap {
				width: calc(100% - 30px);
			}
		}

		li .wrap {
			display: flex;
			align-items: center;
			justify-content: space-between;

			img {
				width: 50px;
				height: 50px;
				object-fit: cover;
				border-radius: 15px;
				margin-right: 15px;
			}

			&.has_option {
				.name {
					display: flex;

					input {
						width: 70%;
					}
				}
			}

			.name {
				width: 55%;
				input {
					width: 100%;
				}
			}

			.price {
				width: 15%;
				font-weight: 300;
				display: flex;
				align-items: center;
				input {
					width: 100%;
					margin-right: 5px;
					font-family: 'Roboto', sans-serif;
					font-weight: 300;
				}
			}

			.option {
				width: 150px;
				display: flex;
				margin: 0 5px;
				align-items: center;
				input {
					width: 100%;
					margin-right: 5px;
				}

				span {
					font-family: 'Roboto', sans-serif;
					font-weight: 300;
				}
			}

			input {
				height: 30px;
				border-radius: 9px;
				border: 2px solid #ddd;
				padding: 0 10px;
				font-size: 14px;

				&:focus {
					border-color: $main-color;
				}
			}

			.qty {
				width: 100px;
				display: flex;
				overflow: hidden;
				border-radius: 5px;
				input {
					text-align: center;
					width: 40px !important;
					border-radius: 0 !important;
					border-right: none;
					border-left: none;
				}
				button {
					border: 2px solid #ddd;
					width: calc(100% - 40px);
				}
			}
		}
	}

	.bottom {
		width: 70%;
		margin-left: auto;
		
		input {
			height: 30px;
			border-radius: 9px;
			border: 2px solid #ddd;
			padding: 0 10px;
			font-size: 14px;

			&:focus {
				border-color: $main-color;
			}
		}

		.delivery {
			margin-bottom: 25px;
			padding-bottom: 25px;
			border-bottom: 1px solid #ddd;
			label {
				margin-bottom: 5px;
			}
		}

		.tohome {

			.address {
				margin-top: 5px;
				display: flex;
				justify-content: space-between;
			}

			input {
				width: calc(100% - 10px) !important;
			}
		}

		.pickup {
			display: flex;
			flex-direction: column;
		}

		.incafe {
			display: flex;
			flex-direction: column;
		}

		.total {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			> * {
				margin-left: 10px;

				&:first-child {
					margin-left: 0;
				}
			}
			del {
				font-size: 16px;
				font-family: 'Roboto', sans-serif;
				font-weight: 300;
				margin-right: 10px;
			}

			span.discount, .without_discount {
				font-size: 22px;
				font-weight: 600;
				font-family: 'Roboto', sans-serif;
			}

			.percent {
				margin-right: auto;
				width: 50%;
				display: flex;
				flex-direction: column;

				label {
					margin-bottom: 5px !important;
				}
				// text-align: center;
				// width: 50px;
				// display: inline-block;
				// padding: 10px;
				// border: 1px solid #ddd;
				// border-radius: 9px;
			}

			
		}

	}

	.editmodOFF {
		pointer-events: none !important;
		opacity: 0.4;
	}

	.user {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		height: 470px;
		
		.wrap {
			height: 70%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			img {
				width: 150px;
				height: 150px;
				object-fit: cover;
				border-radius: 150px;
			}
			.userName {
				font-size: 22px;
				margin: 15px 0 20px;
			}
			.allTotal.label {
				font-size: 14px;
				margin-bottom: 5px;
			}

			.allTotal.value {
				font-family: 'Roboto', sans-serif;
				font-weight: 600;
				margin-bottom: 20px;
			}

			.discountPercent {
				font-family: 'Roboto', sans-serif;
				font-weight: 600;
				font-size: 22px;
				color: $main-color
			}

			span {
				display: block;
				text-align: center;
			}
		}

		button {
			margin-top: auto;
		}
	}
}

.orders.search {
	
	.search {
		margin-bottom: 25px;
		max-width: 70%;
		width: 100%;
		box-sizing: border-box;
		
		.type {
			display: flex;
			
			margin-bottom: 10px;

			> * {
				margin-right: 10px;
			}
		}

		.enter {
			position: relative;

		}

		input {
			width: 100%;
			height: 50px;
			border-radius: 9px;
			border: 2px solid #ddd;
			padding: 0 15px 0 15px;
			font-size: 18px;
			font-family: 'Roboto', sans-serif;
			font-weight: 300;

			&:focus {
				border-color: $main-color;
			}
		}

		button {
			position: absolute;
			right: 5px;
			top: 50%;
			transform: translateY(-50%);
			height: 40px;
			font-size: 16px;
			text-transform: uppercase;
			border: none;
			background-color: $main-color;
			display: flex;
			align-items: center;
			padding: 0 15px;
			border-radius: 9px;
			color: #fff;
			font-weight: 600;

			svg {
				margin-right: 10px;
			}
		}
	}
}

.con-form {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		margin-bottom: 15px;
		padding: 15px;
		border: 2px solid #ddd;
		border-radius: 9px;
		
		.wrap {
			display: flex;
			align-items: center;

			&.has_options {
				.options {
					width: 30%;
				}

				.name {
					width: calc(40% - 50px);
				}
			}

			&.not_options {
				.options {
					width: 0 !important;
				}

				.name {
					width: calc(70% - 50px);
				}
			}

			
		}

		img {
			width: 40px;
			height: 40px;
			object-fit: cover;
			border-radius: 9px;
		}

		.image {
			margin-right: 10px;
		}

		.name {
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
		
		.price {
			width: 15%;
			font-family: 'Roboto', sans-serif;
			font-weight: 300;
		}
		button {
			width: 15%;
		}
	}
}

.products.add {
	.wrap_main {
		display: flex;
		
		.content {
			width: calc(70% - 15px);
			margin-right: 15px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    	border-radius: 15px;
			padding: 25px;
		}

		.image {
			width: 30%;
			align-self: baseline;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    	border-radius: 15px;
			padding: 25px;
			align-self: baseline;
		}
	}

	.content {
		display: flex;
		flex-wrap: wrap;
		.line {
			width: 100%;
			display: flex;
			flex-direction: column;
			margin-bottom: 20px;
			position: relative;

			label {
				margin-bottom: 10px;
				font-weight: 500;
			}

			input.default_input {
				width: 100%;
				height: 40px;
				border-radius: 9px;
				border: 2px solid #ddd;
				padding: 0 15px 0 35px;
				font-size: 18px;

				&:focus {
					border-color: $main-color;
				}
			}
			textarea {
				width: 100%;
				border-radius: 9px;
				border: 2px solid #ddd;
				padding: 15px 15px 0 35px;
				font-size: 18px;

				&:focus {
					outline: none !important;
					border-color: $main-color;
				}
			}

			.adding_option {
				position: relative;

				button {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(calc(-50% - 6px));
				}
			}

			.options_list {
				width: 550px;
				margin-left: auto;
				margin-top: 25px;

				ul {
					margin: 0;
					padding: 0;
				}
				li {
					display: flex;
					margin-bottom: 20px;
					padding-bottom: 20px;
					border-bottom: 1px solid #ddd;

					&:nth-child(1) {
						padding-top: 10px;
					}

					&:not(:nth-child(1)) {
						padding-top: 20px;
					}

					> * {
						margin-right: 20px;
					}

					input {
						font-family: 'Roboto', sans-serif;
					}

					button {
						margin-left: auto;
						margin-right: 0 !important;
					}
				}
			}
		}

		.name, .weight {
			width: calc(75% - 20px);
			margin-right: 20px;
		}
		.price, .stock {
			width: 25%;
		}

		svg {
			position: absolute;
			left: 10px;
			font-size: 20px;
			top: 39px;
		}
	}

	.image {

		.cat {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 25px;

			.vs-select-content {
				width: 100%;
				max-width: calc(100% - 55px);
				transform: scale(1.15);
			}
		}
	}

	.vs-dialog__content {
		display: none !important;
	}
	
}

.footer-dialog {
	display: flex;
	justify-content: center;
}

.products.list {
	.main.list {
		.left {
			width: 80% !important;
		}
		.right {
			width: 20% !important;
		}

		.price {
			font-weight: 300 !important;
		}
	}
}

.main.list {
	max-width: 70%;
	width: 100%;
	box-sizing: border-box;

	.actions {
		display: flex;
		margin-bottom: 30px;

		.checkall {
			width: 165px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			span {
				display: block;
				width: calc(100% - 40px);
			}

			i {
				display: none;
			}
		}

		button {
			margin: 0 0 0 10px !important
		}
	}

	img {
		width: 101px;
		height: 109px;
		object-fit: cover;
		border-radius: 9px;
	}

	.check {
	}

	.list_item {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&:hover {
			.links {
				opacity: 1;
				visibility: visible;
			}
		}

		.links {
			opacity: 0;
			visibility: hidden;
			margin-top: 15px;
			display: flex;

			a {
				color: #2a2a2a;
				text-decoration: none;
				margin-right: 10px;
				font-size: 12px;

				&:hover {
					color: $main-color;
					text-decoration: underline;
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	.inlist {
		width: calc(100% - 40px);
		margin-bottom: 15px;
		display: flex;
		box-sizing: border-box;
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
		border-radius: 9px;

		&.hidden {
			background-color: #f1f1f1;
			opacity: 0.5;
		}
	}

	.content {
		padding: 15px;
		width: 100%;
		display: flex;
		align-items: center;

		.cat {
			font-size: 14px;
		}

		h2 {
			margin: 5px 0 0 0;
			font-weight: 500;
		}

		.left {
			width: 50%;

		}
		.right {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-end;

			.stock {
				display: flex;
				align-items: center;

				span {
					margin-right: 10px;
				}

				button {
					margin: 0 0 0 5px !important
				}
			}

			.vs-input-parent {
				align-self: flex-end;

				input {
					text-align: center;
					max-width: 70px;
					font-family: 'Roboto', sans-serif;
				}
			}

			.price {
				font-size: 22px;
				font-family: 'Roboto', sans-serif;
				margin-bottom: 10px;				
			}
		}
	}
}

.users.list {
	.cat a {
		font-family: 'Roboto', sans-serif;
		text-decoration: none;
	}

	.links {
		display: none !important;
	}

	.inlist {
		width: 100% !important;
	}
}


.params {



	.edit {

		max-width: 70%;
		width: 100%;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;	
	}

	.details {
		max-width: calc(70% - 30px);
		width: 100%;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		border-radius: 15px;
		padding: 25px;
	}

	.save {
		position:-webkit-sticky; 
		position:sticky; 
		top:0;
		width: 30%;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		border-radius: 15px;
		align-self: baseline;

		button {
			margin: 0;
		}
	}

	.line {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
		position: relative;

		.inset {
			display: flex;
			justify-content: space-between;

			> * {
				width: calc(50% - 10px);
			}

			span {
				display: flex;
				flex-direction: column;
			}

			label {
				margin-bottom: 5px !important;
				font-size: 14px;
				color:#6e6e6e
			}

			input {
				height: 30px !important;
				padding: 0 10px !important;
				font-size: 14px !important;
			}
		}

		label {
			margin-bottom: 10px;
			font-weight: 500;
		}

		input {
			width: 100%;
			height: 40px;
			border-radius: 9px;
			border: 2px solid #ddd;
			padding: 0 15px 0 35px;
			font-size: 18px;

			&:focus {
				border-color: #ef7b4f;
			}
		}

		svg {
			position: absolute;
			left: 10px;
			font-size: 20px;
			top: 39px;
		}

		button {
			margin: 0 !important;
		}
	}

	.line.checkbox {
		label {
			margin: 0 !important;
		}
	}
}

.filepond--credits {
  display: none !important;
}

select {
	width: 110px;
  /* styling */
  background-color: white;
  border: thin solid $main-color;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1em;
  padding: 0.5em;
  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

// select.minimal {
//   background-image:
//     linear-gradient(45deg, transparent 50%, gray 50%),
//     linear-gradient(135deg, gray 50%, transparent 50%),
//     linear-gradient(to right, #ccc, #ccc);
//   background-position:
//     calc(100% - 20px) calc(1em + 2px),
//     calc(100% - 15px) calc(1em + 2px),
//     calc(100% - 2.5em) 0.5em;
//   background-size:
//     5px 5px,
//     5px 5px,
//     1px 1.5em;
//   background-repeat: no-repeat;
// }

// select.minimal:focus {
//   background-image:
//     linear-gradient(45deg, green 50%, transparent 50%),
//     linear-gradient(135deg, transparent 50%, green 50%),
//     linear-gradient(to right, #ccc, #ccc);
//   background-position:
//     calc(100% - 15px) 1em,
//     calc(100% - 20px) 1em,
//     calc(100% - 2.5em) 0.5em;
//   background-size:
//     5px 5px,
//     5px 5px,
//     1px 1.5em;
//   background-repeat: no-repeat;
//   border-color: green;
//   outline: 0;
// }
